sass_binary_site=https://artifactorycn.netcracker.com/list/nc.thirdparty.files/sass/node-sass/
@netcracker-saas:registry=https://artifactorycn.netcracker.com/api/npm/pd.saas.npm.dev/
@netcracker:registry=https://artifactorycn.netcracker.com/api/npm/pd.toms-release.npm.group/
registry=https://artifactorycn.netcracker.com/api/npm/pd.toms-release.npm.group/
sass_binary_site1=https://artifactorycn.netcracker.com/list/github_com_saas_node_saas.generic.proxy/download/
puppeteer_download_host=https://artifactorycn.netcracker.com/storage_googleapis_com.files.proxy/
phantomjs_cdnurl=https://artifactorycn.netcracker.com/nc.thirdparty.files/ariya/phantomjs/
