.example-spacer {
    flex: 1 1 auto;
  }
app-header {
    .ux-header-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.ux-header-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}