.overview-dashboard {
  height: calc(100% - 20px);
  overflow: auto;
  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0px auto;
}
.menu {
  margin-left: -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  list-style: none;
  gap: 20px;
}
.menu > li {
  background-color: rgb(224, 224, 224);
  border-radius: 30px;
  font-size: 11px;
  font-weight: 400;
  padding: 6px 12px;
}
.dropdowns {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu > .selected {
  background-color: #4318ff;
  color: #fff;
}

.first-row {
  min-height: 50%;
  display: flex;

  .um-card {
    background-color: white;
    margin: 10px;

    &.support-score {
      width: 400px;
      padding: 20px 20px;
    }

    &.velocity {
      width: calc(100% - 400px);
      padding: 20px 20px;
    }
  }
}
