<div class="overview-dashboard">
  <div class="header">
    <ul class="menu">
      <li
        class="menu-item"
        [ngClass]="{ selected: selectedMenuItem === 'last15Days' }"
        (click)="handleClick('last15Days')"
      >
        Last 15 days
      </li>
      <li
        class="menu-item"
        [ngClass]="{ selected: selectedMenuItem === 'last30Days' }"
        (click)="handleClick('last30Days')"
      >
        Last 30 Days
      </li>
      <li
        class="menu-item"
        [ngClass]="{ selected: selectedMenuItem === 'last2Months' }"
        (click)="handleClick('last2Months')"
      >
        Last 2 Months
      </li>
    </ul>
    <!-- <ul class="dropdowns" *ngIf="user.roles === 'MGR'"> -->
    <ul class="dropdowns">
      <li class="project-item">
        <ux-reference-field
          size="small"
          [items]="projectsList"
          label="Project"
          (onValueChange)="handleProjectChange(projectsList[0])"
        ></ux-reference-field>
      </li>
      <li class="employee-item">
        <ux-reference-field
          size="small"
          [items]="usersList"
          label="Employee"
          (onValueChange)="handleEmpChange(usersList[0])"
        ></ux-reference-field>
      </li>
    </ul>
  </div>
  <div class="first-row">
    <um-card class="_min-padding velocity">
      <app-velocity-wedget
        [selectedType]="selectedMenuItem"
      ></app-velocity-wedget>
    </um-card>

    <um-card class="_min-padding support-score">
      <app-velocity-summary-wedget [selectedType]="selectedMenuItem"></app-velocity-summary-wedget>
    </um-card>
  </div>
</div>
