<div class="main-card-item">
  <div class="support-cls">
    <div class="title">Velocity</div>
  </div>

  <div class="chart-div">
    <canvas
      width="200"
      height="1"
      baseChart
      class="chart"
      [data]="_barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    >
    </canvas>
  </div>
  <div class="badges">
    <div class="bradge-cls gold-border">
      <div class="sub-div">
        <div class="gold dot-cls left"></div>
        <span class="text">TMS</span>
      </div>
      <div class="sub-div">
        <span class="score-cls-perc">{{values.tms}}</span>
      </div>
    </div>
    <div class="bradge-cls yellow">
      <div class="sub-div score-cls">
        <div class="silver dot-cls left"></div>
        <span class="text">TER</span>
      </div>
      <div class="sub-div score-cls-perc">
        <span>{{values.ter}}</span>
      </div>
    </div>
    <div class="bradge-cls yellow">
      <div class="sub-div score-cls">
        <div class="silver dot-cls left"></div>
        <span class="text">Untracked Hrs</span>
      </div>
      <div class="sub-div score-cls-perc">
        <span>{{values.untracked}}</span>
      </div>
    </div>
  </div>
</div>
