::ng-deep .um-pie {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 40px;
  top: 40px;

  &__svg-container {
    height: 200px;
    width: 200px;
  }

  &__svg {
    //height: 200px;
    overflow: visible;
    width: 200px;

    circle {
      stroke-width: 20px;
    }
  }

  &__label-block {
    display: none;
  }
}

.support-cls {
  height: 40px;
  display: flex;

  .title {
    font-weight: 700 !important;
  }
}

.chart-div {
  height: 280px;
  width: calc(100% - 10px);

  //canvas {
  //  position: relative;
  //  top: 10px;
  //}
}

.main-card-item {
  flex-direction: column;
  display: flex;

  .badges {
    //position: relative;
    //top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;


    .gold {
      background: #7551FF;
      height: 10px;
      width: 10px;
      border-radius: 20px;
      margin-right: 5px;
    }

    .silver {
      background: #5BABD5;
      height: 10px;
      width: 10px;
      border-radius: 20px;
      margin-right: 5px;
    }

    .sub-div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      color: #A3AED0;
    }

    .score-cls-perc {
      font-weight: 700 !important;
      position: relative;
      left: 8px;
    }
  }

}

