<div class="container">
  <h1>Assesment For Promotion</h1>
  <div class="seperator"></div>
  <div class="skills">
    <div class="offered">
      <header class="header">
        <h2 class="title">What do I Offer:</h2>
      </header>
      <ul>
        <li>ReactJS</li>
        <li>TypeScript</li>
        <li>WebPack5</li>
        <li>NodeJs</li>
      </ul>
    </div>
    <div class="required">
      <header class="header">
        <h2 class="title">What is required:</h2>
      </header>
      <ul>
        <li>Team management<span style="color: red">*</span></li>
        <li>Project Knowledge<span style="color: red">*</span></li>
        <li>NextJS</li>
        <li>Java</li>
      </ul>
    </div>
  </div>
</div>
