.card-list {
    display: flex;
}

.example-card {
    width: 383px;
    height: 345px;
    border-radius: 20px;
  }

  .image-cls {
    width: 343px;
    height: 217px;
    margin: auto;
  }

  .mat-mdc-card {
    background-color: #fff;
  }

  // ::ng-deep {
  //   .overview {
  //     .mat-grid-tile-content {
  //       width: 383px;
  //       height: 290px;

  //       .mat-mdc-card-content:last-child {
  //         padding-bottom: 0px;
  //       }
  //     }
  //   }
  // }
