.overview-dashboard {
  height: calc(100% - 20px);
  overflow: auto;
  padding: 10px;
}

.first-row {
  min-height: 50%;
  display: flex;

  .um-card {
    background-color: white;
    margin: 10px;

    &.user-info {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        height: 80%;
        width: 100%;
        border-radius: 5px;
      }

      .user-details {
        width: 100%;
        position: relative;
        left: 8px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 350px);
        align-items: flex-start;
        justify-content: center;
        top: 5px;

        .name {
          font-weight: 700 !important;
          margin-bottom: 3px;
        }

        .role {
          color: #A3AED0;
        }

      }
    }

    &.support-score {
      width: 400px;
      padding: 20px 20px
    }

    &.velocity {
      width: calc(100% - 800px);
      padding: 20px 20px;
    }
  }
}

::ng-deep .second-row {
  display: flex;
  min-height: 50%;

  .um-card {
    background-color: white;
    margin: 10px;

    &.team-members-info {
      width: 400px;
    }

    &.tasks {
      padding: 20px 20px;
      width: 400px;
    }

    &.comments {
      padding: 20px 20px;
      width: calc(100% - 800px);
    }
  }

  .form-comments-cls {
    width: 100%;

    .feedback-comments {
      margin: 0px !important;
      padding: 0px !important;
    }

  }

}
