<div class="example-card">
  <header class="header">
    <h2 class="title">Team members</h2>
    <div class="outline">
      <div class="addIcon">+</div>
    </div>
  </header>
  <ul>
    <li>
      <div class="profilePicture">
        SP
      </div>
      <div class="memberDetails">
        <strong>Naveen Kumar</strong>
        <div>Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        SP
      </div>
      <div class="memberDetails">
        <strong>Naveen Kumar</strong>
        <div>Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        SP
      </div>
      <div class="memberDetails">
        <strong>Naveen Kumar</strong>
        <div>Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        SP
      </div>
      <div class="memberDetails">
        <strong>Naveen Kumar</strong>
        <div>Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        SP
      </div>
      <div class="memberDetails">
        <strong>Naveen Kumar</strong>
        <div>Software Engineer</div>
      </div>
    </li>
  </ul>
</div>
