<div class="example-card">
  <header class="header">
    <h2 class="title">Team members</h2>
    <div class="outline"><div class="addIcon">+</div></div>
  </header>
  <ul>
    <li>
      <div class="profilePicture">
        <img src="http://via.placeholder.com/50x50" width="100%" />
      </div>
      <div class="memberDetails">
        <strong>Naveen Kumar</strong>
        <div>Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        <img src="http://via.placeholder.com/50x50" width="100%" />
      </div>
      <div class="memberDetails">
        <strong>Pasupuleti Swamy</strong>
        <div>Senior Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        <img src="http://via.placeholder.com/50x50" width="100%" />
      </div>
      <div class="memberDetails">
        <strong>Anil Pathuri</strong>
        <div>Senior Software Engineer</div>
      </div>
    </li>
    <li>
      <div class="profilePicture">
        <img src="http://via.placeholder.com/50x50" width="100%" />
      </div>
      <div class="memberDetails">
        <strong>Hari Brahmendra Oruganti</strong>
        <div>Junior Software</div>
      </div>
    </li>
  </ul>
</div>
