<div class="container">
    <div class="fields">
      <div class="signInForm">
        <div>
          <h1>Sign In</h1>
          <p class="subText">Enter your email and password to sign in!</p>
          <button class="googleBtn">
            <div class="googleLogo">
              <img
                src="../../../assets/google-logo.png"
                alt="google-logo"
                width="100%"
              />
            </div>
            Sign in with work email
          </button>
        </div>
        <div class="seperator">
          <div class="beforeOr"></div>
          <div class="or">or</div>
          <div class="afterOr"></div>
        </div>
        <form class="form">
          <div class="email">
            <label htmlFor="email">Email*</label>
            <input
              type="email"
              id="email"
              name="email"
              style="height: 28px"
              required
            />
          </div>
          <div class="password">
            <label htmlFor="password">Password*</label>
            <input
              type="password"
              id="password"
              name="password"
              style="height: 28px"
              required
            />
          </div>
          <div class="actions">
            <div>
              <input type="checkbox" style="cursor: pointer" />
              <span class="loggedIn">Keep me logged in</span>
            </div>
            <div class="forgetPassword">Forget password?</div>
          </div>
          <button type="submit" class="submitButton">Sign In</button>
        </form>
      </div>
    </div>
    <div class="imageSection">
      <img src="../../../assets/signup-bg.jpg" alt="signup-Image" />
    </div>
  </div>
  