<div class="main-card-item">
  <div class="support-cls">
    <div class="title">Velocity Summary</div>
  </div>
  <div class="chart-div">
    <div class="current-score-div">
      <span class="current-score">{{velocityDetails.totleVelocity}}</span>
      <span class="current-score-cls">Velocity Score</span>
    </div>
    <um-pie [current]="_current"
            [total]="_total"
            [customIconTemplateKey]="_total < _current ? 'warning' : 'done'"
            [class._red]="_total < _current || _current === 0"
            [label]="(_current == 0 ? 'I\'m empty!' : _label) || 'With label'">
    </um-pie>
  </div>
  <div class="badges">
    <div class="bradge-cls gold-border">
      <div class="sub-div">
        <div class="gold dot-cls left"></div>
        <span class="text">TER</span>
      </div>
      <div class="sub-div">
        <span class="score-cls-perc">{{velocityDetails.TER}}%</span>
      </div>
    </div>
    <div class="bradge-cls yellow">
      <div class="sub-div score-cls">
        <div class="silver dot-cls left"></div>
        <span class="text">LOE</span>
      </div>
      <div class="sub-div score-cls-perc">
        <span>{{velocityDetails.LOE}}%</span>
      </div>
    </div>
  </div>
</div>
