<div class="main-card-item">
  <div class="support-cls">
    <div class="title">Velocity Summary</div>
  </div>
  <div class="chart-div">
    <div class="current-score-div">
      <span class="current-score">{{perc}}%</span>
      <span class="current-score-cls">Velocity Score</span>
    </div>
    <um-pie [current]="perc"
            [total]="100"
            [customIconTemplateKey]="100 < perc ? 'warning' : 'done'"
            [class._red]="100 < perc || perc === 0">
    </um-pie>
  </div>
  <div class="badges">
    <div class="bradge-cls gold-border">
      <div class="sub-div">
        <div class="gold dot-cls left"></div>
        <span class="text">TER</span>
      </div>
      <div class="sub-div">
        <span class="score-cls-perc">{{values.ter}}</span>
      </div>
    </div>
    <div class="bradge-cls yellow">
      <div class="sub-div score-cls">
        <div class="silver dot-cls left"></div>
        <span class="text">TMS</span>
      </div>
      <div class="sub-div score-cls-perc">
        <span>{{values.tms}}</span>
      </div>
    </div>
    <div class="bradge-cls yellow">
      <div class="sub-div score-cls">
        <div class="silver dot-cls left"></div>
        <span class="text">Untracked Hrs</span>
      </div>
      <div class="sub-div score-cls-perc">
        <span>{{values.untracked}}</span>
      </div>
    </div>
  </div>
</div>
