<main class="cm-main__content">
    <um-side-navigation-bar class="cm-main__side-menu"
                            #sideNavigationBarEl
                            [expanded]="true"
                            [items]="sideMenuItems"
                            >
    </um-side-navigation-bar>
    <div class="cm-main__container">
        <div class="cm-main__router">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>



<!-- <ng-template #globeIconTemplate>
    <i [cmIcon]="'icon-globe'"></i>
</ng-template> -->

<ng-template #separatorTemplate>
    <div class="cm-main__side-menu-separator"></div>
</ng-template>

<!-- [itemsTemplatesMap]="{
    separatorTemplate: separatorTemplate
}"
[iconsTemplatesMap]="{
    'icon-globe': globeIconTemplate,
}" -->