/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

.mat-mdc-card {
    background-color: #fff !important;
  }

.display-flex {
  display: flex;
}

.green {
  color: green;
}

.blue {
  background-color: #7551FF;
}
.light-blue {
  background-color: #5BABD5;
}

// .overview .mat-grid-tile-content {
//   display: block;
// }

.support-cls {
  .mat-mdc-text-field-wrapper{
      background-color: transparent;
  }
}

a {
  &,
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }

  &,
  &:visited {
    color: #2F7CE0;
  }

  &:hover,
  &:focus,
  &:active {
    color: #fcc75b;
  }
}

.width-50 {
  width: 50%;
}

