/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-card {
    background-color: #fff !important;
  }

.display-flex {
  display: flex;
}

.green {
  color: green;
}

.blue {
  background-color: #7551FF;
}
.light-blue {
  background-color: #5BABD5;
}

// .overview .mat-grid-tile-content {
//   display: block;
// }

.support-cls {
  .mat-mdc-text-field-wrapper{
      background-color: transparent;
  }
}

