
::ng-deep .form-comments-cls {
  width: calc(100% - 350px);
  margin: 0px 10px;

  .left {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .card-title {
    font-weight: 700;
    padding: 10px 0px;
  }

  .feedback-comments {
    margin: 10px 0px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px;

    .profilePicture {
      width: 40px;
      height: 40px;
      background-color: #5BABD5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 700;
    }

    .badge-cls {
      svg {
        margin-left: 2px;
      }
    }

    .comments-cls {
      border-bottom: 1px solid rgba(27, 37, 89, 0.1098039216);
      padding-top: 30px;
      padding-bottom: 10px;
    }

    .comment-text {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .comments-cls-div {
      .title {
        font-weight: 500;

      }

      .comment {
        color: #7D86A1;
        line-height: 26px; /* 162.5% */
        letter-spacing: -0.32px;
      }

    }

    .star-comment-cls {
      color: #7D86A1;
      line-height: 26px;
      font-size: 12px;
    }
  }
}
