<div class="example-card">
  <header class="header">
    <h2 class="title">Feedback & Comments</h2>
    <div class="outline"><div class="addIcon">+</div></div>
  </header>
  <div class="content">
    <section>
      <div class="title">
        <span>Option to "use local/server version" feature</span
        ><span class="edit">edit</span>
      </div>
      <div class="description">
        It usually displays this message when you close an unsaved page when you
        do it on purpose, and it's getting frustrated to see this every time.
      </div>
    </section>
    <div class="seperator"></div>
    <section>
      <div class="title">
        <span>Option to "use local/server version" feature</span
        ><span class="edit">edit</span>
      </div>
      <div class="description">
        It usually displays this message when you close an unsaved page when you
        do it on purpose, and it's getting frustrated to see this every time.
      </div>
    </section>
  </div>
</div>
